.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3e4145;
  padding: 15px 20px;
  color: white;
  position: relative; /* Cambiar de fixed a relative */
}

.user-info {
  display: flex;
  align-items: center;
}

.user-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.username {
  font-size: 16px;
  font-weight: bold;
}

.title {
  flex-grow: 1;
  text-align: center;
  font-size: 27px;
  font-weight: bold;
}

.logout-container {
  margin-left: auto; /* Empuja el botón hacia la izquierda */
  padding-right: 40px; /* Ajusta el espacio desde el borde derecho */
}

.logout-btn {
  background-color: rgb(201, 46, 46);
  color: white;
  padding: 8px 8px;
  text-decoration: none;
  border-radius: 10px;
  font-weight: bold;
}

.logout-btn:hover {
  background-color: rgb(243, 12, 12);
}
